body,table{width: 100%; font-size: 14px;}
h3{font-size: 14px !important;}
table{margin-bottom: 0!important; white-space: pre;}
td{border: 1px solid #eee;}
td.col-title{width: 40%;}
ul.nav li{white-space: nowrap;}
.container{width: 100%; padding: 20px;}
.table td, .table th{padding: 5px;}
.panel{/*float: left;*/margin-bottom: 20px!important;}
.panel-group{margin-top: 20px;}
.panel-body{margin: 0; padding: 0;}
/*.panel-current-price,.panel-wallet{width: 49%; min-height: 320px; float: left;}*/
/*.panel-wallet{float: right;}*/
/*.panel-current-price,.panel-chart{min-height: 500px;max-height: 500px;}*/
/*.chart-container{height: 100%}*/
.chart-content{height: 400px;}
.panel-actions{clear: both;}
.panel-group .panel+.panel{margin-top: 0;}
.panel-orderbook table,.panel-order table{float: left; margin-bottom: 10px!important; margin-left: 10px;}
.panel-order table{width: 32%!important; float: left;}
.panel-main-info .panel-info{width: 49%!important; float: left;}
p.message{margin: 15px;}
ul.navbar-nav{margin-top: 0px;}

@media only screen and (max-width: 768px) {
	.panel-body-min{overflow-x: scroll;}
}
