;<?php
;die('Access denied.' . "\n"); // For further security
;/*

[account]
account = "long.vu0104@gmail.com"
apiKey = "af0a064732024600b00f54442a6907c5 "
apiSecret = "ab8d1c6e472d4a8c80814f7bfea72cb4"

[account2]
account2 = ""
apiKey2 = ""
apiSecret2 = ""

;*/
;?>